<div class="management--wrapper">
    
    <div class="management--main">
        <div class="management--table table--edit">
            <div class="store-input-container">
                <label for="storeNameInput">Tên cửa hàng:</label>
                <input id="storeNameInput" class="form-control" type="text" [(ngModel)]="myStore.name"
                    aria-label="readonly input example" [readonly]="!isEditing">
            </div>
            <div class="store-input-container">
                <label for="storeAddressInput">Địa chỉ:</label>
                <input id="storeAddressInput" class="form-control" type="text" [(ngModel)]="myStore.address"
                    aria-label="readonly input example" [readonly]="!isEditing">
            </div>
            <div class="store-input-container">
                <label for="storePhoneInput">Số điện thoại:</label>
                <input id="storePhoneInput" class="form-control" type="text" [(ngModel)]="myStore.phone"
                    aria-label="readonly input example" [readonly]="!isEditing">
            </div>
            <div class="store-input-container">
                <label for="storeOwnerInput">Người sở hữu:</label>
                <input id="storeOwnerInput" class="form-control" type="text" [(ngModel)]="nameUser"
                    aria-label="readonly input example" readonly>
            </div>
        </div>
    </div>
    <td class="table-actions management--action">
        <button mat-raised-button class="btn-management-edit btn-toggleEdit edit-button" matTooltip="Chỉnh sửa thông tin "
            (click)="toggleEdit()" aria-label="Edit">
            {{ isEditing ? 'Lưu' : 'Chỉnh sửa' }}
        </button>
    </td>
    
    
</div>