@import "../../../shared/variable.scss";

.modal-body {
	max-height: 50vh;
	overflow-y: scroll;
	padding: 8px;

	// For Firefox
	scrollbar-width: thin; // Makes scrollbar thinner
	scrollbar-color: #888 #f1f1f1; // Thumb and track colors

	// For Webkit-based browsers (Chrome, Safari, Edge)
	&::-webkit-scrollbar {
		width: 8px; // Width of the scrollbar
	}

	&::-webkit-scrollbar-track {
		background: #f1f1f1; // Background of the track
	}

	&::-webkit-scrollbar-thumb {
		background: #888; // Color of the thumb
		border-radius: 4px; // Rounded corners for the thumb

		&:hover {
			background: #555; // Darker color on hover
		}
	}
}

.modal-footer {
	.disabled {
		opacity: 0.8;
		background-color: $primary-light;
	}
}

.list-cart-item {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	h5 {
		color: $text-color-black;
		font-size: 14px;
		font-weight: 450;
	}

	.cart-item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 8px;
		position: relative;
		transition: 0.15s ease-out;

		&-name {
			font-size: 14px;
			color: $text-color-black;
			font-weight: 450;
		}
		&-price {
			font-size: 13px;
			font-weight: 400;
		}
		&-status {
			font-size: 12px;
			font-weight: 450;
		}
		&-quantity {
			color: $text-color-black;
			font-size: 13px;
			font-weight: 400;
			display: flex;
			align-items: center;
			justify-content: space-between;
			.quantity-edit {
				font-size: 20px;
				font-weight: bold;
				transition: 0.05s ease-in;
				padding: 2px;
				&:active {
					background-color: #cecece;
				}
			}
		}

		&-total {
			color: $text-color-black;
			font-size: 13px;
			font-weight: 450;
		}

		.cart-action {
			position: absolute;
			content: "";
			top: 0;
			right: 0px;
		}
	}
}

.total-order {
	border-top: 1px solid #cecece;
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	padding: 4px 1rem;
	margin-top: 8px;
	p {
		font-size: 14px;
		font-weight: 450;
		color: $text-color-black;
		margin-bottom: 0;
	}
}

.total-ordered {
	border-top: 1px solid #cecece;
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	padding: 4px 1rem;
	margin-top: 8px;
	p {
		font-size: 12px;
		font-weight: 450;
		color: $text-color-black;
		margin-bottom: 0;
	}
}
