@import "../../../../../shared/variable.scss";

.modal-footer {
	button:nth-child(1) {
		background-color: $owner-primary;
		color: white;
	}
}
.modal-header[_ngcontent-ng-c3354496760] {
    background-color: $owner-primary;
}