<div class="modal fade show" tabindex="5">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Chỉnh sửa thông tin thể loại</h5>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					(click)="onNoClick()"
					aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form [formGroup]="validateForm" (ngSubmit)="onSubmit()">
					<input
						hidden
						aria-label="id"
						nz-input
						class="form-control"
						formControlName="id"
						id="id" />

					<nz-form-item>
						<nz-form-label
							[nzSm]="8"
							[nzXs]="24"
							nzRequired
							nzFor="name"
							>Name</nz-form-label
						>
						<nz-form-control
							[nzSm]="8"
							[nzXs]="24"
							nzErrorTip="The input is not valid name">
							<input
								aria-label="name"
								nz-input
								class="form-control"
								formControlName="name"
								id="name" />
						</nz-form-control>
					</nz-form-item>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" mat-stroked-button (click)="onSubmit()">
					Lưu
				</button>
				<button
					type="button"
					mat-stroked-button
					data-bs-dismiss="modal"
					(click)="onNoClick()">
					Hủy
				</button>
			</div>
		</div>
	</div>
</div>
