<div class="layout-common">
	<div class="row g-0">
		<div class="col-2">
			<div
				class="navbar-nav owner-sidebar layout-common-sidebar sidebar sidebar-dark accordion"
				id="accordionSidebar">
				<!-- Sidebar - Brand -->
				<a
					class="sidebar-brand d-flex align-items-center justify-content-center"
					href="/pages">
					<div class="sidebar-brand-icon rotate-n-15">
						<i class="fa-brands fa-docker"></i>
					</div>
					<div class="sidebar-brand-text mx-3">
						Name Store<sup>2</sup>
					</div>
				</a>

				<!-- Divider -->
				<hr class="sidebar-divider my-0" />

				<!-- Nav Item - Dashboard -->
				<li
					class="nav-item"
					[class.active]="0 == activeIndex"
					(click)="swithRoute(0)">
					<button class="nav-link">
						<i class="fas fa-fw fa-tachometer-alt"></i>
						<span>Trang chủ</span>
					</button>
				</li>

				<!-- Divider -->
				<hr class="sidebar-divider" />

				<!-- Heading -->
				<div class="sidebar-heading">Management</div>

				<!-- Nav Item - Pages Collapse Menu -->
				<li
					class="nav-item"
					[class.active]="1 == activeIndex"
					(click)="swithRoute(1)">
					<button class="nav-link">
						<i class="fa-solid fa-circle-info"></i>
						<span>Thông tin cửa hàng</span>
					</button>
				</li>
				<li
					class="nav-item"
					[class.active]="2 == activeIndex"
					(click)="swithRoute(2)">
					<button class="nav-link">
						<i class="fa-solid fa-list"></i>
						<span>Loại món ăn</span>
					</button>
				</li>
				<li
					class="nav-item"
					[class.active]="3 == activeIndex"
					(click)="swithRoute(3)">
					<button class="nav-link">
						<i class="fa-solid fa-bowl-food"></i>
						<span>Món ăn</span>
					</button>
				</li>
				<li 	
					class="nav-item" 
					[class.active]="4 == activeIndex" 
					(click)="swithRoute(4)">
					<button class="nav-link">
						<i class="fa-solid fa-table"></i>
						<span>Bàn</span>
					</button>
				</li>
				<li
					class="nav-item"
					[class.active]="5 == activeIndex"
					(click)="swithRoute(5)">
					<button class="nav-link">
						<i class="fa-solid fa-bell"></i>
						<span>Đơn đặt hàng</span>
					</button>
				</li>
				<li
					class="nav-item"
					[class.active]="6 == activeIndex"
					(click)="swithRoute(6)">
					<button class="nav-link">
						<i class="fa-solid fa-file-invoice-dollar"></i>
						<span>Hóa đơn</span>
					</button>
				</li>
				<li
					class="nav-item"
					[class.active]="7 == activeIndex"
					(click)="swithRoute(7)">
					<button class="nav-link">
						<i class="fa-solid fa-user"></i>
						<span>Nhân viên</span>
					</button>
				</li>

				<li
					class="nav-item"
					[class.active]="8 == activeIndex"
					(click)="swithRoute(8)">
					<button class="nav-link">
						<i class="fa-solid fa-chart-line"></i>
						<span>Thống kê</span>
					</button>
				</li>
			</div>
		</div>
		<div class="col-10">
			<div class="owner-content layout-common-content">
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>
</div>
