@import "../../../shared/color.scss";
@import "../../../shared/variable.scss";

.order {
	&--wrapper {
		.store-name {
			text-align: center;
			font-weight: 450;
			font-size: 18px;
			color: whitesmoke;
			border-bottom: 1px solid #cecece;
			padding: 8px 12px;
			margin-bottom: 0;
			border-bottom-left-radius: 16px;
			border-bottom-right-radius: 16px;
			box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
			background-color: $primary-medium;
			transition: all 0.1s ease-out;
		}
		.container {
			padding: 16px 1.5rem;
			display: flex;
			align-items: center;
			flex-direction: column;
		}
	}
	&--header {
		.row {
			min-height: 30px;

			.order--search {
				input {
					height: 30px;
				}
			}
			.order--actions {
				width: 60px;

				button {
					height: 30px;
					background-color: $primary-medium;
				}
			}
		}
	}

	&--main {
		margin-top: 12px;
		h4 {
			color: $text-color-black;
			font-weight: 550;
			margin-bottom: 0;
		}
		.list-category {
			margin-top: 8px;
		}
		.list-food {
			margin-top: 8px;

			.food {
				&-card {
					border: 1px solid #cecece;
					border-radius: 16px;
					overflow: hidden;
					display: flex;
					gap: 8px;
					margin-top: 12px;
					transition: all 0.15s ease-in-out;

					opacity: 0;
					transform: translateX(-100%);
					animation: slideIn 0.5s ease-out forwards;
					box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
				}
				&-img {
					display: flex;
					justify-content: center;
					align-items: center;
					min-width: 30%;
					overflow: hidden;
					img {
						max-width: 100%;
						max-height: 100%;
						object-fit: cover;
					}
				}
				&-description {
					display: flex;
					flex-direction: column;
					gap: 4px;
					height: 80px;
					padding: 8px 4px;
					p {
						margin-bottom: 0;
					}
				}

				&-cate-name {
					font-weight: 500;
					font-size: 13px;
					color: #a2a2a2;
				}
				&-name {
					font-weight: 450;
					font-size: 16px;
					color: $text-color-black;
				}
				&-price {
					font-weight: 450;
					color: $text-color-black;
				}
				&-button {
					margin-left: auto;
					margin-top: auto;
					button {
						height: 30px;
						width: 100%;
						border-top-left-radius: 16px;
						border-top-right-radius: 0;
						font-size: 12px;
						background-color: $primary-medium;
					}
				}
			}
		}
	}

	&--footer {
		margin-top: 24px;
		border-top: 1px solid #cecece;
	}
}

/* Animation */
@keyframes slideIn {
	to {
		opacity: 1;
		transform: translateX(0); /* Kết thúc ở vị trí ban đầu */
	}
}
