
@import "../../../shared/color.scss";


.footer-wrapper{
	background-color: rgb(129, 146, 194);
	.section-bg, .section-content {
		width: 100%;
		.footer-row {
			display: flex;
			flex-flow: nowrap;
			width: 100%;
			max-width: 1170px;
			.footer-col {
				max-width: 33.33333%;
				-ms-flex-preferred-size: 33.33333%;
				flex-basis: 33.33333%;
				position: relative;
				margin: 0;
				padding: 0 0 30px;
				padding-right: 30px;
				width: 100%;
				.icon-box{
					.icon-box-img {
						margin-bottom: unset;
						max-width: 100%;
    					position: relative;
						img{
							padding-top: 20px;
    						max-width: 150px;
			  				height: auto;
						}
					}
					.icon-box-text{
						h2{
							font-size: 26px;
							color: white;
							font-weight: 700;
    						font-style: normal;
						}
					}
					.footer-info{
						font-size: 16px;
						color: #f4f7fd;
						padding-bottom: 30px;
						b, strong {
							font-weight: inherit;
							font-weight: bolder;
						}
					}
					.footer-mobile-hidden{
						color: #fff;
					}
					.footer-social-icon {
						display: flex;
						flex-wrap: wrap;
						color: #fff;
						
						.footer__social{
							width: 42px;
							height: 42px;
							background: rgb(129, 146, 194);
							color: #fff !important;
							border-radius: 50%;
							display: flex;
							justify-content: center;
							align-items: center;
							margin-right: .625rem;
							svg {
								max-width: 100%;
							}
						}
					}
				}
				.footer-dich-vu{
					margin-top: 77px;
					color: #fff;
					h2{
						font-weight: 700;
    					font-style: normal;
						font-size: 26px;
					}
					.footer-mobile-hidden{
						a.footer__link {
							font-size: 16px;
							color: #f4f7fd;
							text-decoration: none;
							display: inline-block;
							position: relative;
							overflow: hidden;
      						transition: transform 0.3s ease;
							&:hover {
								transform: translateX(10px);
								color: #fff;
							}
							&::before {
								content: '';
								position: absolute;
								bottom: -2px;
								left: 0;
								width: 0;
								height: 2px;
								background-color: #f4f7fd;
								transition: width 0.3s ease;		
							}
							&:hover::before {
								width: 100%;
							}
						}
					}
				}
				.footer-bao-gia{
  					border-radius: 10px;
  					width: 300px;
					margin-top: 77px;
					text-transform: uppercase;				
					h2 {
						color: white;
						margin-bottom: 20px;
						font-size: 26px;
						font-weight: 600;
					}
					.form-input{
						box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
						padding: 20px;
  						border-radius: 10px;
  						width: 300px;
  						text-align: center;
					form {
						display: flex;
						flex-direction: column;
						gap: 15px;
						input, select, button {
							padding: 10px;
							margin-bottom: 15px;
							border-radius: 5px;
							border: 1px solid #ccc;
							font-size: 14px;
							width: 100%;
						}
						input:focus, select:focus {
                             /* Highlight input border on focus */
                            outline: none;
                        }
						button {
							background-color: $primary-dark;
							color: white;
							border: none;
							cursor: pointer;
							font-weight: bold;
							&:hover {
								background-color:$primary;
							  }
						}
						  
					}
				}
				}
			}
		}
	}
}
.absolute-footer{
	color: hsla(0, 0%, 100%, .5);
	font-size: 14px;
	background-color: #161616;
	padding: 15px 0;
}