@import "../../../../shared/variable.scss";
.management--action{
	button{
		background-color: grey;
	}
}
.management--search {
    display: flex; 
    align-items: center; 

    .btn-search {
        background-color: grey; 
        color: #fff; 
        border: none; 
        padding: 8px 12px; 
        border-radius: 4px;
        cursor: pointer; 
        transition: background-color 0.3s; 

        &:hover {
            background-color: darken(grey, 10%); 
        }
    }

    input {
        flex: 1; 
        margin-left: 8px; 
        padding: 8px; 
        border: 1px solid #ccc; 
        border-radius: 4px; 
        transition: border-color 0.3s; 

    }
}
.management--table { 
	table {
	  background-color: grey; 
	  
	  thead {
		background-color: grey; 
		
		th {
		  background-color: grey;
		}
	  }
  
	  tbody {
		tr {
		  &:nth-child(even) {
			background-color: grey; 
		  }
		  &:nth-child(odd) {
			background-color: grey; 
		  }
		}
	  }
  
	  .table-actions {
		button {
		  margin: 0 4px;
		  color: #fff;
		  
		  &.btn-management-edit {
			background-color: $primary;
		  }
  
		  &.btn-management-delete {
			background-color: #dc3545;
		  }
		}
	  }
	}
  }