<div class="management--wrapper">
	<h4 class="fw-bold">Quản lý nhân viên</h4>

	<div class="management--header">
		<!-- <div class="management--search">
			<input
				aria-label="Search User"
				type="text"
				class="form-control"
				[(ngModel)]="searchTerm"
				(ngModelChange)="onSearchTerm()" />
		</div> -->
		<div class="management--action">
			<button
				mat-stroked-button
				class="btn btn-sm btn-action-add"
				(click)="openAddDialog()">
				Thêm mới
			</button>
		</div>
	</div>
	<div class="management--main">
		<div class="management--table">
			<table class="table">
				<thead>
					<tr>
						<th
							*ngFor="let columns of config.displayedColumns"
							scope="col">
							{{ columns.display }}
						</th>
						<th>-</th>
					</tr>
				</thead>
				<tbody *ngIf="staffList != undefined">
					<tr *ngFor="let item of staffList; index as index">
						<th max-width="100px">{{ index + 1 }}</th>
						<td>
							{{ item.name }}
						</td>
						<td>{{ item.email }}</td>
						<td>{{ item.phones }}</td>
						<td>{{ item.age }}</td>
						<td>{{ item.address }}</td>
						<td max-width="100px" class="table-actions">
							<div class="button-group">
								<button
									class="btn-management-edit btn btn-sm"
									matTooltip="Chỉnh sửa thông tin người dùng"
									(click)="openEditDialog(item.id)"
									aria-label="Edit">
									<i
										class="fa fa-edit"
										aria-hidden="true"></i>
								</button>
								<button
									class="btn-management-delete btn btn-sm"
									matTooltip="Xóa người dùng"
									(click)="openDeleteDialog(item.id)"
									aria-label="Delete">
									<i class="fa-solid fa-trash"></i>
								</button>
							</div>
						</td>
					</tr>
				</tbody>
				<tbody *ngIf="staffList == undefined">
					<h3 class="text-center">Chưa có dữ liệu</h3>
				</tbody>
			</table>
			<div class="table--pagination">
				<table-pagination
					[_hasNext]="pagi.hasNextPage"
					[_hasPrev]="pagi.hasPrevPage"
					[_currentPage]="pagi.currentPage"
					[_totalPage]="pagi.totalPage"
					(changePage)="onChangePage($event)"></table-pagination>
			</div>
		</div>
		<app-spinner></app-spinner>
	</div>
</div>
