<div class="layout-common">
	<div class="row g-0">
		<div class="col-lg-2 col-0">
			<div class="owner-sidebar admin-sidebar layout-common-sidebar">
				<!-- Sidebar - Brand -->
				<div class="sidebar-brand-text">Admin</div>

				<!-- Divider -->
				<hr class="sidebar-divider" />

				<!-- Heading -->
				<div class="sidebar-heading">Quản lý</div>

				<ul class="sidebar-nav">
					<li
						class="nav-item"
						[class.active]="1 == activeIndex"
						(click)="swithRoute(1)">
						<button class="nav-link">
							<i class="fa-solid fa-circle-info"></i>
							<span>Người dùng</span>
						</button>
					</li>
					<li
						class="nav-item"
						[class.active]="2 == activeIndex"
						(click)="swithRoute(2)">
						<button class="nav-link">
							<i class="fa-solid fa-list"></i>
							<span>Cửa hàng</span>
						</button>
					</li>
				</ul>
				<!-- Divider -->
				<hr class="sidebar-divider" />
				<div
					class="logout d-flex align-items-center justify-content-center mt-auto px-2 py-2">
					<button
						(click)="logOut()"
						mat-stroked-button
						class="w-75 logout-button bg-white">
						Đăng xuất
					</button>
				</div>
			</div>
		</div>
		<div class="col-lg-10 col-12">
			<div class="container">
				<div class="owner-content layout-common-content">
					<router-outlet></router-outlet>
				</div>
			</div>
		</div>
	</div>
</div>
