<div class="management--wrapper">
	<div class="management--header">
		<div class="management--search">
			<input
				aria-label="Search User"
				type="text"
				class="form-control"
				[(ngModel)]="searchTerm"
				(ngModelChange)="onSearchTerm()" />
		</div>
		<div class="management--action">
			<button mat-raised-button color="primary" (click)="openAddDialog()">
				Thêm mới người dùng
			</button>
		</div>
	</div>
	<div class="management--main">
		<div class="management--table">
			<table class="table">
				<thead>
					<tr>
						<th
							*ngFor="let columns of config.displayedColumns"
							scope="col">
							{{ columns.display }}
						</th>
						<th>-</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let item of listUser">
						<th scope="row">{{ item.id }}</th>
						<td>{{ item.username }}</td>
						<td>{{ item.email }}</td>
						<td>{{ item.phones }}</td>
						<td>{{ item.role | roleName }}</td>

						<td class="table-actions">
							<button
								class="btn-management-edit btn btn-sm btn-info"
								matTooltip="Chỉnh sửa thông tin người dùng"
								(click)="openEditDialog(item.id)"
								aria-label="Edit">
								<i class="fa-solid fa-user-pen"></i>
							</button>
							<button
								class="btn-management-delete btn btn-sm btn-danger"
								matTooltip="Xóa người dùng"
								(click)="openDeleteDialog(item.id)"
								aria-label="Delete">
								<i class="fa-solid fa-trash"></i>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="table--pagination">
				<table-pagination
					[_hasNext]="pagi.hasNextPage"
					[_hasPrev]="pagi.hasPrevPage"
					[_currentPage]="pagi.currentPage"
					[_totalPage]="pagi.totalPage"
					(changePage)="onChangePage($event)"></table-pagination>
			</div>
			<h4 *ngIf="listUser.length == 0" class="text-center fw-bold">
				Không tìm thấy danh sách người dùng
				<i class="fa fa-smile-o" aria-hidden="true"></i>
			</h4>
		</div>
	</div>
</div>
