$primary-dark: #1a73e8;
$primary: #4285f4;
$primary-medium: #3367d6;
$primary-light: #669df6;
$primary-ultra-light: #a6c8ff;
$primary-active: #0aa0dd;

$owner-primary-dark: #3e6a69; // A dark red shade
$owner-primary: #5da19f; // The primary red color
$owner-primary-medium: #5d97a1; // A medium red shade
$owner-primary-light: #46a7b8; // A light red shade
$owner-primary-ultra-light: #5d8ba1; // A very light red shade
$owner-primary-active: #4693b8; // A vibrant red shade
