@import "./color.scss";

$text-size: 16px;
* {
	text-decoration: none;
}
ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

.btn-primary-custom {
	background-color: $primary !important;
	color: white !important;
}

.btn-custom {
	border-radius: 8px;
}

.layout-common {
	min-height: 100vh;
	overflow: hidden;
	.row {
		min-height: 100vh;
	}
	&-sidebar {
		height: 100%;

		.nav-link {
			display: flex;
			align-items: center;
			gap: 4px;
			i {
				font-size: 14px;
				min-width: 20px;
			}

			span {
				font-size: 14px;
			}
		}
	}

	&-content {
		height: 100%;
		padding: 32px 0;
	}
}

.management {
	&--wrapper {
		padding: 4px 32px;
	}

	&--header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&--search {
		min-width: 25%;
		width: 50%;
		input {
			width: 100%;
		}
	}

	&--filter {
		display: flex;
		align-items: center;
		gap: 12px;

		.group-filter {
			border: 1px solid #cecece;
			padding: 0 16px;
			border-radius: 12px;
		}
	}

	&--table {
		margin-top: 24px;
		thead {
			th {
				background-color: $primary;
				color: #f3f3f3;
				font-size: 14px;
				font-weight: 450;
			}
		}

		tbody {
			tr {
				td {
					font-size: 14px;
					font-weight: 400;
					min-height: 40px;
				}
			}
		}

		.table--pagination {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.table-actions {
			display: flex;
			align-items: center;
			gap: 12px;

			.btn-management {
				&-edit {
					background-color: $primary-dark;
					color: white;
					height: 25px;
				}
				&-delete {
					background-color: #ef5350;
					color: whitesmoke;
					height: 25px;
				}
			}
		}
	}

	&--action {
		button {
			background-color:$owner-primary-medium;
			color: white;
		}
	}

	&--main {
		max-height: 100vh;
	}
}

.modal.show {
	display: block;
}

.modal {
	&-header {
		background-color: $primary-light;
	}
	&-title {
		font-size: 20px;
		font-weight: bolder;
		margin-bottom: 0;
		color: white;
	}
	&-body {
		font-size: 16px;
	}
}

.btn {
	font-weight: 500;
	transition: 0.1s ease-in;
	&:hover {
		opacity: 0.9;
	}
}
