<div class="management--wrapper">
	<div class="management--header">
		<h4 class="fw-bold">Quản lý đơn đặt hàng</h4>

		<!-- <div class="management--search">
			<input
				aria-label="Search User"
				type="text"
				class="form-control"
				[(ngModel)]="searchTerm"
				(ngModelChange)="onSearchTerm()" />
		</div> -->
		<div class="management--action">
			<button
				matTooltip="Lọc"
				aria-label="Filter"
				class="btn btn-sm btn-action-filter"
				[matMenuTriggerFor]="menu">
				<i class="fa fa-filter" aria-hidden="true"></i>
			</button>
			<mat-menu #menu="matMenu">
				<button mat-menu-item (click)="changeFilter(1)">
					<span class="filter-label-radio">Đã tiếp nhận</span>
				</button>
				<button mat-menu-item (click)="changeFilter(2)">
					<span class="filter-label-radio">Chưa tiếp nhận</span>
				</button>
				<button mat-menu-item (click)="changeFilter(0)">
					<span class="filter-label-radio">Tất cả</span>
				</button>
			</mat-menu>
		</div>
	</div>
	<div class="management--main">
		<div class="management--table">
			<table class="table">
				<thead>
					<tr>
						<th
							*ngFor="let columns of config.displayedColumns"
							scope="col">
							{{ columns.display }}
						</th>
						<th>-</th>
					</tr>
				</thead>
				<tbody *ngIf="listOrder != undefined">
					<tr *ngFor="let item of listOrder">
						<th>{{ item.id }}</th>
						<td>{{ item.table.name }}</td>
						<td>{{ item.total }}</td>
						<td>
							<span class="badge bg-warning" *ngIf="!item.status">
								Chưa tiếp nhận
							</span>
							<span class="badge bg-success" *ngIf="item.status">
								Đã tiếp nhận
							</span>
						</td>

						<td class="table-actions">
							<button
								class="btn-management-edit btn btn-sm"
								matTooltip="Chi tiết đơn đặt hàng"
								(click)="openEditDialog(item.id)"
								aria-label="Edit">
								<i class="fa fa-edit" aria-hidden="true"></i>
							</button>
							<button
								class="btn-management-delete btn btn-sm"
								matTooltip="Xóa đơn đặt hàng"
								(click)="openDeleteDialog(item.id)"
								aria-label="Delete">
								<i class="fa-solid fa-trash"></i>
							</button>
						</td>
					</tr>
				</tbody>
				<tbody *ngIf="listOrder == undefined">
					<h3 class="text-center">Chưa có dữ liệu</h3>
				</tbody>
			</table>
			<div class="table--pagination">
				<table-pagination
					[_hasNext]="pagi.hasNextPage"
					[_hasPrev]="pagi.hasPrevPage"
					[_currentPage]="pagi.currentPage"
					[_totalPage]="pagi.totalPage"
					(changePage)="onChangePage($event)"></table-pagination>
			</div>
		</div>
		<app-spinner></app-spinner>
	</div>
</div>
