<div class="modal fade show" tabindex="5">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Chi tiết hóa đơn</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="onNoClick()"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="validateForm" (ngSubmit)="onSubmit()" style="display: flex; flex-direction: column;">
                    <input hidden aria-label="id" nz-input class="form-control" formControlName="id" id="id" />

                    <div class="row mb-3">
                        <div class="col-sm-6">
                            <nz-form-item>
                                <nz-form-label nzFor="nameUser">Name</nz-form-label>
                                <nz-form-control nzErrorTip="The input is not valid name">
                                    <span>{{ validateForm.get('nameUser')?.value }}</span>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div class="col-sm-6">
                            <nz-form-item>
                                <nz-form-label nzFor="phoneUser">Number</nz-form-label>
                                <nz-form-control nzErrorTip="The input is not valid name">
                                    <span>{{ validateForm.get('phoneUser')?.value }}</span>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-sm-6">
                            <nz-form-item>
                                <nz-form-label nzFor="total">Tổng tiền</nz-form-label>
                                <nz-form-control nzErrorTip="The input is not valid name">
                                    <span>{{ validateForm.get('total')?.value }}</span>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div class="col-sm-6">
                            <nz-form-item>
                                <nz-form-label nzFor="idTable">Bàn</nz-form-label>
                                <nz-form-control nzErrorTip="This input is not have enough length!">
                                    <span>{{ validateForm.get('idTable')?.value }}</span>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>

                    <div *ngFor="let order of listOrderDetail" class="row mb-3">
                        <div class="col-sm-4">
                            <nz-form-item>
                                <nz-form-label nzFor="foodName">Tên món ăn</nz-form-label>
                                <nz-form-control nzErrorTip="The input is not valid name">
                                    <span>{{ order.foodDTO.name }}</span>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div class="col-sm-4">
                            <nz-form-item>
                                <nz-form-label nzFor="foodPrice">Giá món ăn</nz-form-label>
                                <nz-form-control nzErrorTip="The input is not valid price">
                                    <span>{{ order.foodDTO.price }}</span>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div class="col-sm-4">
                            <nz-form-item>
                                <nz-form-label nzFor="foodQuantity">Số lượng</nz-form-label>
                                <nz-form-control nzErrorTip="The input is not valid quantity">
                                    <span>{{ order.quantity }}</span>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button *ngIf="!validateForm.get('status')?.value" type="button" mat-stroked-button (click)="onSubmit()">
                    Chấp nhận
                </button>
                <button type="button" mat-stroked-button data-bs-dismiss="modal" (click)="onNoClick()">
                    Hủy
                </button>
            </div>
        </div>
    </div>
</div>