<div class="auth--wrapper">
	<div class="login-container">
		<h4 class="login-title">Đăng nhập</h4>
		<form #form="ngForm" class="login-form">
			<div class="form-group">
				<!-- Email input -->
				<div class="form-field">
					<input
						[(ngModel)]="user.email"
						name="email"
						type="email"
						id="email"
						class="form-input"
						required
						placeholder=" " />
					<label class="form-label" for="email">Email</label>
				</div>

				<!-- Password input -->
				<div class="form-field">
					<input
						[(ngModel)]="user.password"
						name="password"
						type="password"
						id="password"
						class="form-input"
						required
						placeholder=" " />
					<label class="form-label" for="password">Mật khẩu</label>
				</div>

				<!-- Remember me and Forgot password -->
				<div class="form-options">
					<label class="checkbox-container">
						<input type="checkbox" checked />
						<span class="checkmark"></span>
						Ghi nhớ lần đăng nhập
					</label>
					<a href="/auth/restore-password" class="forgot-password"
						>Quên mật khẩu?</a
					>
				</div>

				<!-- Submit button -->
				<button
					mat-raised-button
					color="primary"
					type="submit"
					class="login-button"
					(click)="login()">
					Đăng nhập
				</button>

				<!-- Register link -->
				<div class="register-link">
					<p>
						Chưa có tài khoản ? <a href="/auth/register">Đăng ký</a>
					</p>
				</div>
			</div>
		</form>
	</div>
</div>
