<div class="management--wrapper">
    <h4 class="fw-bold">Quản lý hóa đơn</h4>

	<div class="management--header">
        <div class="management--search">
			<input
				aria-label="Search User"
				type="text"
				class="form-control"
				[(ngModel)]="searchTerm"
				(ngModelChange)="onSearchTerm()" />
		</div>
		<div class="management--action">
			<button
				matTooltip="Lọc"
				aria-label="Filter"
				class="btn btn-sm btn-action-filter"
				[matMenuTriggerFor]="menu">
				<i class="fa fa-filter" aria-hidden="true"></i>
			</button>
			<mat-menu #menu="matMenu">
				<button mat-menu-item (click)="changeFilter(1)">
					<span class="filter-label-radio">Đã thanh toán</span>
				</button>
				<button mat-menu-item (click)="changeFilter(2)">
					<span class="filter-label-radio">Chưa thanh toán</span>
				</button>
				<button mat-menu-item (click)="changeFilter(0)">
					<span class="filter-label-radio">Tất cả</span>
				</button>
			</mat-menu>
		</div>
	</div>
	<div class="management--main">
		<div class="management--table">
			<table class="table">
				<thead>
					<tr>
						<th
							*ngFor="let columns of config.displayedColumns"
							scope="col">
							{{ columns.display }}
						</th>
						<th>-</th>
					</tr>
				</thead>
				<tbody *ngIf="filteredList.length > 0">
					<tr *ngFor="let item of filteredList; index as index">
						<th>{{ index + 1 }}</th>
						<td>
							{{ item.tableName }}
						</td>
						<td>
							<span class="badge bg-warning" *ngIf="!item.status">
								Chưa thanh toán
							</span>
							<span class="badge bg-success" *ngIf="item.status">
								Đã thanh toán
							</span>
						</td>

						<td class="table-actions">
							<div class="button-group">
								<button
									class="btn btn-sm btn-management-edit"
									matTooltip="Chi tiết đơn đặt hàng"
									(click)="openEditDialog(item.id)"
									aria-label="Edit">
									<i
										class="fa fa-info-circle"
										aria-hidden="true"></i>
								</button>
								<button
									*ngIf="item.status"
									class="btn btn-sm btn-management-confirm"
									matTooltip="Xác nhận"
									(click)="confirmInvoice(item.id)"
									aria-label="Confirm">
									<i class="fa fa-check-circle" aria-hidden="true"></i>
							</button>
						  </div>
						</td>
					</tr>
				</tbody>
				<tbody *ngIf="filteredList.length === 0">
					<h3 class="text-center w-100">Chưa có dữ liệu</h3>
				</tbody>
			</table>
			<div class="table--pagination" *ngIf="listInvoice.length > 0">
				<table-pagination
					[_hasNext]="pagi.hasNextPage"
					[_hasPrev]="pagi.hasPrevPage"
					[_currentPage]="pagi.currentPage"
					[_totalPage]="pagi.totalPage"
					(changePage)="onChangePage($event)"></table-pagination>
			</div>
		</div>
		<app-spinner></app-spinner>
	</div>
</div>
