@import "../../../shared/variable.scss";
@import "../../../shared/layout.scss";



.btn-management-confirm{
    background-color: #28a745; 
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    @media (max-width: $mobile-breakpoint) {
        height: 20px;
        i {
            font-size: 10px;
        }
    }
}

.button-group{
    display: flex;
    align-items: center; 
    .btn-management {
        &-edit {
          margin-right: 7px;
        }
    
      }
}