<app-header></app-header>
<div class="home--wrapper">
	<div id="header">
		<div class="header-wrapper">
			<div id="masthead" class="header-main">
				<div
					class="header-inner flex-row container logo-left medium-logo-center">
					<div id="logo" class="flex-col logo">
						<a href="">
							<img
								src="https://cms1.com.my/store/images/logo/store-mgmt-logo.png"
								alt=""
								width="1000"
								height="392"
								class="header_logo header-logo" />
						</a>
					</div>
					<div class="flex-col show-for-medium flex-left flex-grow">
						<ul
							class="header-nav header-nav-main nav nav-left nav-size-large nav-spacing-large">
							<li
								id="menu-item-858"
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-858 menu-item-design-default">
								<a href="" class="nav-top-link"
									>Thiết kế website</a
								>
							</li>
							<li
								id="menu-item-859"
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-859 menu-item-design-default has-dropdown">
								<a
									href=""
									class="nav-top-link"
									aria-expanded="false"
									aria-haspopup="menu">
									Dịch vụ khác
									<i class="fa-solid fa-angle-down"></i>
								</a>
								<ul
									class="sub-menu nav-dropdown nav-dropdown-simple">
									<li
										id="menu-item-2139"
										class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2139">
										<a href="">Đăng ký tên miền</a>
									</li>
									<li
										id="menu-item-2140"
										class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2140">
										<a href="">Dịch vụ hosting</a>
									</li>
									<li
										id="menu-item-2141"
										class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2141">
										<a href="">Email theo tên miền</a>
									</li>
								</ul>
							</li>
							<li
								id="menu-item-860"
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-859 menu-item-design-default">
								<a
									href=""
									class="nav-top-link"
									aria-expanded="false"
									aria-haspopup="menu">
									Dự án
								</a>
							</li>
							<li
								id="menu-item-861"
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-859 menu-item-design-default">
								<a
									href=""
									class="nav-top-link"
									aria-expanded="false"
									aria-haspopup="menu">
									Tin tức
								</a>
							</li>
							<li
								id="menu-item-862"
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-859 menu-item-design-default has-dropdown">
								<a
									href=""
									class="nav-top-link"
									aria-expanded="false"
									aria-haspopup="menu">
									Về NgoNgo
									<i class="fa-solid fa-angle-down"></i>
								</a>
								<ul
									class="sub-menu nav-dropdown nav-dropdown-simple">
									<li
										id="menu-item-2139"
										class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2139">
										<a href="">Điều khoản sử dụng</a>
									</li>
									<li
										id="menu-item-2140"
										class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2140">
										<a href="">Chính sách bảo mật</a>
									</li>
									<li
										id="menu-item-2141"
										class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2141">
										<a href="">Một số câu hỏi thường gặp</a>
									</li>
								</ul>
							</li>
							<li
								id="menu-item-862"
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-859 menu-item-design-default has-dropdown">
								<a
									href=""
									class="nav-top-link"
									aria-expanded="false"
									aria-haspopup="menu">
									Tham gia ngay
									<i class="fa-solid fa-angle-down"></i>
								</a>
								<ul
									class="sub-menu nav-dropdown nav-dropdown-simple">
									<li
										id="menu-item-2139"
										class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2139">
										<a href="">Đăng ký tài khoản</a>
									</li>
									<li
										id="menu-item-2140"
										class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2140">
										<a href="/auth/login">Đăng nhập</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="content" class="content-area">
		<section class="section-first" id="section_199988600">
			<div class="container">
				<div class="section-content relative">
					<div
						class="row justify-content-lg-between align-items-center">
						<div class="col-lg-6 col-12 overview-detail">
							<div class="col-inner text-left">
								<h1 style="font-size: 30px">
									Thiết Kế Hệ Thống Quản Lý Cửa Hàng Hiện Đại
									Và Hiệu Quả
								</h1>
								<p>
									StoreManagement cung cấp giải pháp quản lý
									cửa hàng chuyên nghiệp, giúp bạn vận hành
									kinh doanh dễ dàng và nhanh chóng. Tối ưu
									hóa quy trình quản lý, nâng cao hiệu suất và
									mở rộng khả năng tiếp cận khách hàng trực
									tuyến.
								</p>
								<div class="row">
									<div class="col small-12 large-12">
										<div class="col-inner">
											<a
												href="/auth/register"
												class="button secondary"
												style="border-radius: 99px">
												<span
													>Đăng ký tư vấn ngay</span
												></a
											>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-12 overview-image">
							<div class="col-inner text-center">
								<app-carousel
									[images]="images"
									[autoSlide]="true"
									[slideInterval]="3000"></app-carousel>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section-why">
			<div class="container">
				<div class="row align-middle">
					<div
						class="col-md-6 col-md-push-6 col-sm-6 col-sm-push-6 col-xs-12">
						<div class="inforDetail-image">
							<img
								src="https://happymarketing.vn/wp-content/uploads/2023/02/tablet3-1.png"
								alt=""
								class="lazyloaded" />
						</div>
					</div>
					<div
						class="col-md-6 col-md-push-6 col-sm-6 col-sm-push-6 col-xs-12">
						<div class="inforDetail-title">
							<h3>
								Tại Sao Cần Sử Dụng Dịch Vụ Quản Lý Cửa Hàng
								Trong Thời Kỳ Chuyển Đổi Số?
							</h3>
						</div>
						<div class="inforDetail-text hidden-xs">
							<ul>
								<li>
									Hệ thống quản lý cửa hàng hiện đại giúp bạn
									tạo ấn tượng chuyên nghiệp, thu hút nhiều
									khách hàng ghé thăm và trải nghiệm dịch vụ
									tốt hơn.
								</li>
								<li>
									Dịch vụ quản lý cửa hàng hiệu quả giúp doanh
									nghiệp xây dựng hình ảnh uy tín, nâng cao vị
									thế trên thị trường và tạo dấu ấn trong lòng
									khách hàng.
								</li>
								<li>
									Một hệ thống quản lý cửa hàng thông minh,
									đầy đủ tính năng, cung cấp thông tin rõ ràng
									sẽ nâng cao độ tin cậy từ khách hàng đối với
									doanh nghiệp.
								</li>
								<li>
									Tích hợp các tính năng bán hàng thông minh,
									dịch vụ quản lý cửa hàng giúp tối ưu hóa quy
									trình kinh doanh và mở rộng cơ hội tăng
									trưởng doanh thu.
								</li>
								<li>
									Hệ thống quản lý hiệu quả kết hợp với các
									tính năng tối ưu như phân tích dữ liệu, tự
									động hóa marketing giúp doanh nghiệp tiết
									kiệm chi phí và quảng bá thương hiệu dễ dàng
									hơn.
								</li>
							</ul>
						</div>
					</div>
					<div
						class="groupAction-hrweb col small-12 large-12 text-center">
						<a
							href="/auth/register"
							class="btn-haraweb btn-hover-vertical hrv-btnv2-register"
							>ĐĂng ký ngay</a
						>
					</div>
				</div>
			</div>
		</section>
		<section class="section-benefit">
			<div class="container">
				<div class="bg section-bg fill bg-fill bg-loaded"></div>
				<div class="section-content relative">
					<div class="text">
						<h2>
							Lợi Ích Đặc Biệt Khi Sử Dụng Dịch Vụ Quản Lý Cửa
							Hàng Tại StoreManagement
						</h2>
					</div>
					<div class="row">
						<div
							class="col-md-6 col-md-push-6 col-sm-6 col-sm-push-6 col-xs-12">
							<div class="col-inner">
								<h3>∆ Hệ thống chuẩn hóa</h3>
								<p>
									Chúng tôi hiểu rõ tầm quan trọng của một hệ
									thống quản lý tối ưu. Vì vậy,
									StoreManagement xây dựng quy trình và cấu
									trúc vận hành chuẩn hóa, giúp bạn quản lý
									cửa hàng hiệu quả, tiết kiệm thời gian và
									chi phí.
								</p>
								<h3>∆ Giao diện độc quyền</h3>
								<p>
									Giao diện quản lý được thiết kế độc quyền,
									thân thiện với người dùng, giúp thương hiệu
									của bạn nổi bật và chuyên nghiệp hơn. Một
									giao diện rõ ràng, đẹp mắt giúp bạn dễ dàng
									thao tác, theo dõi hoạt động kinh doanh một
									cách hiệu quả.
								</p>
								<h3>∆ Tích hợp đa tính năng</h3>
								<p>
									Hệ thống quản lý cửa hàng cung cấp đầy đủ
									tính năng như quản lý sản phẩm, đơn hàng,
									khách hàng, báo cáo doanh thu, cổng thanh
									toán, chatbot hỗ trợ,… Tất cả được tích hợp
									để tối ưu hóa quy trình vận hành kinh doanh.
								</p>
								<div
									class="img has-hover x md-x lg-x y md-y lg-y">
									<div class="img-inner dark">
										<img
											src="https://happymarketing.vn/wp-content/uploads/2023/01/thiet-ke-website-banner-home-happymarketing.vn_-1024x640.webp"
											alt="" />
									</div>
								</div>
							</div>
						</div>
						<div
							class="col-md-6 col-md-push-6 col-sm-6 col-sm-push-6 col-xs-12">
							<div class="col-inner text-left">
								<h3>∆ Tốc độ xử lý nhanh chóng</h3>
								<p>
									Tốc độ xử lý dữ liệu của hệ thống là yếu tố
									cốt lõi để đảm bảo hoạt động kinh doanh
									không bị gián đoạn. StoreManagement luôn
									kiểm tra và tối ưu hệ thống để mang đến trải
									nghiệm mượt mà, chính xác cho người dùng.
								</p>
								<h3>∆ Khả năng truy cập linh hoạt</h3>
								<p>
									Hệ thống được xây dựng với công nghệ hiện
									đại, cho phép bạn quản lý cửa hàng mọi lúc,
									mọi nơi trên mọi thiết bị. Điều này giúp bạn
									kiểm soát hoạt động kinh doanh ngay cả khi
									không có mặt tại cửa hàng.
								</p>
								<h3>∆ Bảo mật dữ liệu</h3>
								<p>
									Dữ liệu kinh doanh là tài sản quý giá của
									doanh nghiệp. StoreManagement sử dụng công
									nghệ bảo mật tiên tiến để bảo vệ thông tin
									khỏi các mối đe dọa, đảm bảo an toàn và giảm
									thiểu tối đa các rủi ro tấn công.
								</p>
								<h3>∆ Quản lý dễ dàng</h3>
								<p>
									Giao diện thân thiện, thao tác đơn giản và
									các tính năng thông minh giúp bạn dễ dàng
									quản lý cửa hàng, theo dõi tình hình kinh
									doanh và đưa ra chiến lược phát triển phù
									hợp một cách nhanh chóng.
								</p>
								<a
									href="/auth/register"
									class="button-secondary">
									<span>Đăng ký ngay</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section-interface">
			<div class="bg section-bg fill bg-fill bg-loaded"></div>
			<div class="section-content relative">
				<div class="text">
					<h2>
						<span
							>Một Số Giao Diện Hệ Thống Quản Lý Cửa Hàng Được Ưa
							Chuộng Tại StoreManagement</span
						>
					</h2>
				</div>
				<div class="row">
					<div
						class="col-md-6 col-md-push-6 col-sm-6 col-sm-push-6 col-xs-12">
						<div class="img-inner dark">
							<img
								src="https://happymarketing.vn/wp-content/uploads/2023/02/Rectangle-29-1.png"
								alt="" />
						</div>
					</div>
					<div
						class="col-md-6 col-md-push-6 col-sm-6 col-sm-push-6 col-xs-12">
						<div class="img-inner dark">
							<img
								src="https://happymarketing.vn/wp-content/uploads/2023/02/Rectangle-26.png"
								alt="" />
						</div>
					</div>
				</div>
				<div class="row">
					<div
						class="col-md-6 col-md-push-6 col-sm-6 col-sm-push-6 col-xs-12">
						<div class="img-inner dark">
							<img
								src="https://happymarketing.vn/wp-content/uploads/2023/02/Rectangle-26.png"
								alt="" />
						</div>
					</div>
					<div
						class="col-md-6 col-md-push-6 col-sm-6 col-sm-push-6 col-xs-12">
						<div class="img-inner dark">
							<img
								src="https://happymarketing.vn/wp-content/uploads/2023/02/image-2.png"
								alt="" />
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section-Instruct">
			<div class="container">
				<div class="section-content relative">
					<div class="row content">
						<div class="col small-12 large-12">
							<div class="col-inner text-center dark">
								<h2>
									Quy Trình Xây Dựng Hệ Thống Quản Lý Cửa Hàng
									Chuyên Nghiệp Tại StoreManagement
								</h2>
								<br />
								<p>
									Tại StoreManagement, chúng tôi áp dụng quy
									trình làm việc chuyên nghiệp và rõ ràng, đảm
									bảo việc xây dựng hệ thống quản lý cửa hàng
									được thực hiện một cách nhanh chóng, chính
									xác và hiệu quả. Qua đó, chúng tôi mang đến
									cho khách hàng một giải pháp quản lý tối ưu,
									giúp tiết kiệm thời gian và nâng cao hiệu
									suất kinh doanh.
								</p>
							</div>
						</div>
					</div>
					<div class="row instruct">
						<div class="col medium-2 small-12 large-2">
							<div class="col-inner dark">
								<div class="text">
									<p class="uppercase">
										<u>
											<b>BƯỚC 1</b>
										</u>
										<b> >></b>
									</p>
									<p>Tiếp nhận thông tin khách hàng</p>
								</div>
							</div>
						</div>
						<div class="col medium-2 small-12 large-2">
							<div class="col-inner dark">
								<div class="text">
									<p class="uppercase">
										<u>
											<b>BƯỚC 2</b>
										</u>
										<b> >></b>
									</p>
									<p>Báo giá chi tiết theo nhu cầu</p>
								</div>
							</div>
						</div>
						<div class="col medium-2 small-12 large-2">
							<div class="col-inner dark">
								<div class="text">
									<p class="uppercase">
										<u>
											<b>BƯỚC 3</b>
										</u>
										<b> >></b>
									</p>
									<p>Hợp đồng ký kết và thanh toán</p>
								</div>
							</div>
						</div>
						<div class="col medium-2 small-12 large-2">
							<div class="col-inner dark">
								<div class="text">
									<p class="uppercase">
										<u>
											<b>BƯỚC 4</b>
										</u>
										<b> >></b>
									</p>
									<p>Nhận tài nguyên từ khách hàng</p>
								</div>
							</div>
						</div>
						<div class="col medium-2 small-12 large-2">
							<div class="col-inner dark">
								<div class="text">
									<p class="uppercase">
										<u>
											<b>BƯỚC 5</b>
										</u>
										<b> >></b>
									</p>
									<p>Cài đặt cơ sở hạ tầng</p>
								</div>
							</div>
						</div>
						<div class="col medium-2 small-12 large-2">
							<div class="col-inner dark">
								<div class="text">
									<p class="uppercase">
										<u>
											<b>BƯỚC 6</b>
										</u>
										<b> >></b>
									</p>
									<p>Thiết kế giao diện quản lý</p>
								</div>
							</div>
						</div>
					</div>
					<div class="row instruct2">
						<div class="col medium-2 small-12 large-2">
							<div class="col-inner dark">
								<div class="text">
									<p class="uppercase">
										<u>
											<b>BƯỚC 7</b>
										</u>
										<b> >></b>
									</p>
									<p>Gửi khách hàng duyệt mẫu</p>
								</div>
							</div>
						</div>
						<div class="col medium-2 small-12 large-2">
							<div class="col-inner dark">
								<div class="text">
									<p class="uppercase">
										<u>
											<b>BƯỚC 8</b>
										</u>
										<b> >></b>
									</p>
									<p>Phát triển chức năng hệ thống</p>
								</div>
							</div>
						</div>
						<div class="col medium-2 small-12 large-2">
							<div class="col-inner dark">
								<div class="text">
									<p class="uppercase">
										<u>
											<b>BƯỚC 9</b>
										</u>
										<b> >></b>
									</p>
									<p>Kiểm lỗi và chỉnh sửa hoàn thiện</p>
								</div>
							</div>
						</div>
						<div class="col medium-2 small-12 large-2">
							<div class="col-inner dark">
								<div class="text">
									<p class="uppercase">
										<u>
											<b>BƯỚC 10</b>
										</u>
										<b> >></b>
									</p>
									<p>Bàn giao và nghiệm thu</p>
								</div>
							</div>
						</div>
						<div class="col medium-2 small-12 large-2">
							<div class="col-inner dark">
								<div class="text">
									<p class="uppercase">
										<u>
											<b>BƯỚC 11</b>
										</u>
										<b> >></b>
									</p>
									<p>Hướng dẫn sử dụng</p>
								</div>
							</div>
						</div>
						<div class="col medium-2 small-12 large-2">
							<div class="col-inner dark">
								<div class="text">
									<p class="uppercase">
										<u>
											<b>BƯỚC 12</b>
										</u>
										<b> >></b>
									</p>
									<p>Bảo hành và hỗ trợ lâu dài</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="testimonials">
			<div class="inner">
				<h1>Đánh giá của khách hàng</h1>
				<div class="border"></div>
				<div class="row">
					<div class="col">
						<div class="testimonial">
							<img
								src="https://cdn-icons-png.flaticon.com/512/219/219969.png"
								alt="" />
							<div class="name">Bùi Công Thiện</div>
							<div class="detail-position">Chủ tiệm tạp hóa</div>
							<div class="stars">
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="far fa-star"></i>
							</div>
							<p>
								Dịch vụ quản lý cửa hàng của StoreManagement
								thực sự giúp tôi tối ưu hóa quy trình kinh
								doanh. Giao diện dễ sử dụng, hỗ trợ quản lý sản
								phẩm, theo dõi đơn hàng và kiểm soát kho hàng
								rất hiệu quả. Khách hàng của tôi cũng hài lòng
								vì trải nghiệm mua sắm nhanh chóng và tiện lợi.
								Đội ngũ hỗ trợ luôn sẵn sàng giải quyết các vấn
								đề kịp thời, khiến tôi yên tâm sử dụng dịch vụ
								lâu dài.
							</p>
						</div>
					</div>
					<div class="col">
						<div class="testimonial">
							<img
								src="https://uxwing.com/wp-content/themes/uxwing/download/peoples-avatars/corporate-user-icon.png"
								alt="" />
							<div class="name">Nguyễn Minh Nhật</div>
							<div class="detail-position">
								Chủ quán đồ ăn nhanh
							</div>
							<div class="stars">
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
							</div>
							<p>
								Hệ thống quản lý của StoreManagement giúp tôi
								tiết kiệm đáng kể thời gian và công sức trong
								việc điều hành cửa hàng. Từ quản lý nhân viên,
								cập nhật thực đơn mới, đến theo dõi doanh thu,
								tất cả đều được xử lý nhanh chóng. Đặc biệt, các
								báo cáo chi tiết giúp tôi đưa ra quyết định kinh
								doanh hiệu quả hơn. Tôi hoàn toàn hài lòng với
								dịch vụ hỗ trợ trọn đời của StoreManagement.
							</p>
						</div>
					</div>
					<div class="col">
						<div class="testimonial">
							<img
								src="https://cdn-icons-png.freepik.com/512/219/219986.png"
								alt="" />
							<div class="name">Huỳnh Anh Tuấn</div>
							<div class="detail-position">Chủ cửa hàng Doki</div>
							<div class="stars">
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="far fa-star"></i>
							</div>
							<p>
								StoreManagement thực sự mang lại một giải pháp
								quản lý cửa hàng toàn diện. Quy trình triển khai
								nhanh chóng, giao diện thân thiện và tích hợp
								đầy đủ các tính năng như kiểm soát kho hàng,
								theo dõi lịch sử bán hàng, và hỗ trợ khách hàng.
								Hệ thống hoạt động ổn định trên mọi thiết bị,
								giúp tôi dễ dàng quản lý cửa hàng mọi lúc, mọi
								nơi. Đây chắc chắn là một sự đầu tư đáng giá cho
								doanh nghiệp.
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section-freetrial">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-8 col-12 freetrial-content">
						<div class="sitebox-heading">
							<div class="freetrial-title cl-white">
								14 ngày dùng thử miễn phí StoreManagement
							</div>
							<p class="subhead-freetrial cl-white">
								Trải nghiệm phần mềm quản lý bán hàng tốt nhất
								được hơn 10,000+ chủ cửa hàng tin tưởng và sử
								dụng..
							</p>
						</div>
					</div>
					<div class="col-lg-4 col-12 text-center">
						<div class="sitebox-actions">
							<a
								href="/auth/register"
								class="btn-trial btn-trial--white btn-hover-vertical hrv-btnv2-register">
								Dùng thử miễn phí
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section-questions">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-12">
						<div class="sitebox-heading">
							<h2>
								<span class="d-lg-block"
									>Giải đáp mọi thắc mắc</span
								>
								về phần mềm quản lý cửa hàng
							</h2>
						</div>
					</div>
					<div class="col-lg-8 col-12">
						<div class="accordion-questions row">
							<div class="col-12">
								<div
									class="questions-item accordion-questions-1"
									*ngFor="
										let question of questions;
										let i = index
									"
									[class.is-active]="activeIndex === i">
									<div
										class="questions-item__title"
										(click)="toggleAccordion(i)">
										<h3 itemprop="name">
											{{ question.title }}
										</h3>
										<span
											class="fa-solid fa-angle-down"></span>
									</div>
									<div class="questions-item__content">
										<p itemprop="text">
											{{ question.content }}
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
<app-footer></app-footer>
