<app-header></app-header>
<div class="home--wrapper">
	<div id="header">
		<div class="header-wrapper">
			<div id="masthead" class="header-main ">
				<div class="header-inner flex-row container logo-left medium-logo-center"> 
					<div id="logo" class="flex-col logo" >
						<a href="">
							<img src="https://cms1.com.my/store/images/logo/store-mgmt-logo.png" alt="" width="1000" height="392" class="header_logo header-logo">
						</a>
					</div>
					<div class="flex-col show-for-medium flex-left flex-grow">
						<ul class="header-nav header-nav-main nav nav-left  nav-size-large nav-spacing-large">
							<li id="menu-item-858" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-858 menu-item-design-default">
								<a href="" class="nav-top-link">Thiết kế website</a>
							</li>
							<li id="menu-item-859" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-859 menu-item-design-default has-dropdown">
								<a href="" class="nav-top-link" aria-expanded="false" aria-haspopup="menu">
									Dịch vụ khác
									<i class="fa-solid fa-angle-down"></i>
								</a>
								<ul class="sub-menu nav-dropdown nav-dropdown-simple">
									<li id="menu-item-2139" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2139">
										<a href="">Đăng ký tên miền</a>
									</li>
									<li id="menu-item-2140" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2140">
										<a href="">Dịch vụ hosting</a>
									</li>
									<li id="menu-item-2141" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2141">
										<a href="">Email theo tên miền</a>
									</li>
								</ul>
							</li>
							<li id="menu-item-860" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-859 menu-item-design-default">
								<a href="" class="nav-top-link" aria-expanded="false" aria-haspopup="menu">
									Dự án
								</a>
							</li>
							<li id="menu-item-861" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-859 menu-item-design-default">
								<a href="" class="nav-top-link" aria-expanded="false" aria-haspopup="menu">
									Tin tức
								</a>
							</li>
							<li id="menu-item-862" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-859 menu-item-design-default has-dropdown">
								<a href="" class="nav-top-link" aria-expanded="false" aria-haspopup="menu">
									Về NgoNgo
									<i class="fa-solid fa-angle-down"></i>
								</a>
								<ul class="sub-menu nav-dropdown nav-dropdown-simple">
									<li id="menu-item-2139" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2139">
										<a href="">Điều khoản sử dụng</a>
									</li>
									<li id="menu-item-2140" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2140">
										<a href="">Chính sách bảo mật</a>
									</li>
									<li id="menu-item-2141" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2141">
										<a href="">Một số câu hỏi thường gặp</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="content" class="content-area">
		<section class="section-first" id="section_199988600">
			<div class="container">
			<div class="section-content relative">
				<div class="row justify-content-lg-between align-items-center">
					<div class="col-lg-6 col-12 overview-detail">
						<div class="col-inner text-left">
							<h1 style="font-size: 30px;"> Thiết Kế Website Doanh Nghiệp Đẹp Mắt Và Nhanh Chóng</h1>
							<p>StoreManagement giúp doanh nghiệp bạn xây dựng website nhanh chóng. Đưa doanh nghiệp hiện diện trên Online & tiếp cận hàng triệu khách hàng.
							</p>
							<div class="row">
								<div class="col small-12 large-12">
									<div class="col-inner">
										<a href="/auth/register" class="button secondary" style="border-radius:99px;">
										<span>Đăng ký tư vấn ngay</span></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-12 overview-image">
						<div class="col-inner text-center">
							<app-carousel [images]="images"
								[autoSlide]="true"
								[slideInterval]="3000"
							></app-carousel>
						</div>
					</div>
				</div>
			</div>
		</div>
		</section>
		<section class="section-why">
			<div class="container">
				<div class="row align-middle">
					<div class="col-md-6 col-md-push-6 col-sm-6 col-sm-push-6 col-xs-12">
						<div class="inforDetail-image">
							<img src="https://happymarketing.vn/wp-content/uploads/2023/02/tablet3-1.png" alt="" class=" lazyloaded">
						</div>
					</div>
					<div class="col-md-6 col-md-push-6 col-sm-6 col-sm-push-6 col-xs-12">
						<div class="inforDetail-title">
							<h3>Tại sao cần phải thiết kế website trong thời kỳ chuyển đổi số hiện nay</h3>
						</div>
						<div class="inforDetail-text hidden-xs">
							<ul>
								<li>Có một website đẹp mắt sẽ giúp cho doanh nghiệp của bạn thu hút được nhiều người ghé thăm “cửa hàng online” này.</li>
								<li>Được nhiều người biết đến sẽ hỗ trợ doanh nghiệp rất nhiều trong việc định vị, nâng tầm và gia tăng độ nhận diện thương hiệu.</li>
								<li>Thiết kế website giúp doanh nghiệp nâng cao độ uy tín nhờ có một website chỉnh chu, chuyên nghiệp, có đầy đủ thông tin, hình ảnh về doanh nghiệp rõ ràng.
								</li>
								<li>Doanh thu của doanh nghiệp cũng được gia tăng nhờ vào các tính năng bán hàng được thiết kế và tích hợp trên website.</li>
								<li>Tiết kiệm được chi phí marketing nhờ việc thiết kế website chuẩn SEO giúp quảng bá doanh nghiệp của bạn đến với nhiều người hơn.</li>
							</ul>
						</div>
					</div>
					<div class="groupAction-hrweb col small-12 large-12 text-center">
						<a href="/auth/register" class="btn-haraweb btn-hover-vertical  hrv-btnv2-register">ĐĂng ký ngay</a>
					</div>
				</div>
			</div>
		</section>
		<section class="section-benefit">
			<div class="container">
				<div class="bg section-bg fill bg-fill  bg-loaded"></div>
				<div class="section-content relative">
					<div class="text">
						<h2>Lợi ích đặc biệt khi thiết kế website tại StoreManagement</h2>
					</div>
					<div class="row">
						<div class="col-md-6 col-md-push-6 col-sm-6 col-sm-push-6 col-xs-12">
							<div class="col-inner">
								<h3>∆ Chuẩn SEO</h3>
								<p>Hơn ai hết chúng tôi hiểu rõ tầm quan trọng của một website chuẩn SEO lớn đến thế nào. Do đó các cấu trúc, quy trình vận hành của website được chúng tôi nắm bắt và tối ưu chuẩn SEO nhằm đưa website đó lên top Google một cách nhanh chóng.</p>
								<h3>∆ Giao diện độc quyền</h3>
								<p>Website có giao diện độc quyền giúp cho thương hiệu của bạn trở nên nổi bật trong mắt người khác, gia tăng độ nhận diện thương hiệu. Nếu website của bạn đẹp mắt thì khách hàng cũng sẽ ở lại lâu hơn, thúc đẩy quá trình mua hàng ngay trên chính website đó.</p>
								<h3>∆ Tính năng đa dạng</h3>
								<p>Một website tích hợp đầy đủ các tính năng như giỏ hàng, chatbot, thông tin liên hệ, cổng thanh toán, tích hợp dữ liệu,… hỗ trợ tối đa cho khách hàng trong việc lựa chọn, liên hệ tư vấn, mua hàng, thanh toán trở nên dễ dàng hơn.</p>
								<div class="img has-hover x md-x lg-x y md-y lg-y">
									<div class="img-inner dark">
										<img src="https://happymarketing.vn/wp-content/uploads/2023/01/thiet-ke-website-banner-home-happymarketing.vn_-1024x640.webp" alt="">
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-md-push-6 col-sm-6 col-sm-push-6 col-xs-12">
							<div class="col-inner text-left">
								<h3>∆ Tốc độ website</h3>
								<p>Sẽ chẳng ai muốn truy cập vào một website có tốc độ load vô cùng chậm, chính vì vậy mà tốc độ website cũng ảnh hưởng rất nhiều đến trải nghiệm của khách hàng ở phía bạn. Để tránh xảy ra vấn đề này, chúng tôi chạy thử website vô số lần để đảm bảo rằng nó luôn hoạt động ổn định và mượt mà.</p>
								<h3>∆ Website Responsive</h3>
								<p>Bất kỳ ai cũng có thể truy cập vào website của bạn bằng các thiết bị thông minh nhờ sử dụng công nghệ hiện đại Responsive. Điều này cũng giúp bạn thu hút được một lượng khách hàng tiềm năng vô cùng lớn mang về doanh thu khổng lồ thông qua website.</p>
								<h3>∆ Bảo mật dữ liệu</h3>
								<p>Các website có chứa rất nhiều nhưng dữ liệu quan trọng của một doanh nghiệp, nếu không may bị đánh cắp doanh nghiệp sẽ gặp tổn thất rất nghiệm trọng. Vì vậy StoreManagement bằng các công nghệ của mình sẽ giúp cho website của bạn được bảo vệ một cách tốt nhất, hạn chế tối đa việc bị kẻ xấu tấn công.</p>
								<h3>∆ Quản lý dễ dàng</h3>
								<p>Mục đích của website là giúp cho các chiến lược kinh doanh, marketing của bạn đạt hiệu quả tối ưu nhất, thế cho nên tính năng thân thiện với người dùng được áp dụng vào website giúp bạn có thể dễ dàng quản lý và đưa ra các chiến lược phù hợp nhất cho mình.</p>
								<a href="/auth/register" class="button-secondary">
									<span>Đăng ký ngay</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section-interface">
			<div class="bg section-bg fill bg-fill  bg-loaded"></div>
			<div class="section-content relative">
				<div class="text">
					<h2>
						<span>Một số giao diện website được ưa chuộng tại StoreManagement</span>
					</h2>
				</div>
				<div class="row">
					<div class="col-md-6 col-md-push-6 col-sm-6 col-sm-push-6 col-xs-12">
						<div class="img-inner dark">
							<img src="https://happymarketing.vn/wp-content/uploads/2023/02/Rectangle-29-1.png" alt="">
						</div>
					</div>
					<div class="col-md-6 col-md-push-6 col-sm-6 col-sm-push-6 col-xs-12">
						<div class="img-inner dark">
							<img src="https://happymarketing.vn/wp-content/uploads/2023/02/Rectangle-26.png" alt="">
						</div>
					</div>

				</div>
				<div class="row">
					<div class="col-md-6 col-md-push-6 col-sm-6 col-sm-push-6 col-xs-12">
						<div class="img-inner dark">
							<img src="https://happymarketing.vn/wp-content/uploads/2023/02/Rectangle-26.png" alt="">
						</div>
					</div>
					<div class="col-md-6 col-md-push-6 col-sm-6 col-sm-push-6 col-xs-12">
						<div class="img-inner dark">
							<img src="https://happymarketing.vn/wp-content/uploads/2023/02/image-2.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section-Instruct">
			<div class="container">
				<div class="section-content relative">
					<div class="row content">
						<div class="col small-12 large-12">
							<div class="col-inner text-center dark">
								<h2>Quy trình tạo dựng website chuyên nghiệp tại StoreManagement</h2>
								<br>
								<p>Tại StoreManagement chúng tôi có quy trình làm việc rõ ràng và chuyên nghiệp nhằm giúp cho quá trình thiết kế website diễn ra một cách nhanh chóng và chính xác nhất. Thông qua đó mang đến cho khách hàng một website không chỉ chất lượng mà lại còn rút ngắn đáng kể thời thời gian thiết kế website.</p>
							</div>
						</div>
					</div>
					<div class="row instruct">
						<div class="col medium-2 small-12 large-2">
							<div class="col-inner dark">
								<div class="text">
									<p class="uppercase">
										<u>
											<b>BƯỚC 1</b>
										</u>
										<b> >></b>
									</p>
									<p>Tiếp nhận thông tin khách hàng</p>
								</div>
							</div>
						</div>
						<div class="col medium-2 small-12 large-2">
							<div class="col-inner dark">
								<div class="text">
									<p class="uppercase">
										<u>
											<b>BƯỚC 2</b>
										</u>
										<b> >></b>
									</p>
									<p>Báo giá chi tiết theo nhu cầu</p>
								</div>
							</div>
						</div>
						<div class="col medium-2 small-12 large-2">
							<div class="col-inner dark">
								<div class="text">
									<p class="uppercase">
										<u>
											<b>BƯỚC 3</b>
										</u>
										<b> >></b>
									</p>
									<p>Hợp đồng ký kết và thanh toán</p>
								</div>
							</div>
						</div>
						<div class="col medium-2 small-12 large-2">
							<div class="col-inner dark">
								<div class="text">
									<p class="uppercase">
										<u>
											<b>BƯỚC 4</b>
										</u>
										<b> >></b>
									</p>
									<p>Nhận tài nguyên từ khách hàng</p>
								</div>
							</div>
						</div>
						<div class="col medium-2 small-12 large-2">
							<div class="col-inner dark">
								<div class="text">
									<p class="uppercase">
										<u>
											<b>BƯỚC 5</b>
										</u>
										<b> >></b>
									</p>
									<p>Đăng ký domain, hosting, SSL</p>
								</div>
							</div>
						</div>
						<div class="col medium-2 small-12 large-2">
							<div class="col-inner dark">
								<div class="text">
									<p class="uppercase">
										<u>
											<b>BƯỚC 6</b>
										</u>
										<b> >></b>
									</p>
									<p>Thiết kế giao diện website</p>
								</div>
							</div>
						</div>
					</div>
					<div class="row instruct2">
						<div class="col medium-2 small-12 large-2">
							<div class="col-inner dark">
								<div class="text">
									<p class="uppercase">
										<u>
											<b>BƯỚC 7</b>
										</u>
										<b> >></b>
									</p>
									<p>Gửi khách hàng duyệt mẫu</p>
								</div>
							</div>
						</div>
						<div class="col medium-2 small-12 large-2">
							<div class="col-inner dark">
								<div class="text">
									<p class="uppercase">
										<u>
											<b>BƯỚC 8</b>
										</u>
										<b> >></b>
									</p>
									<p>Lập trình chức năng website</p>
								</div>
							</div>
						</div>
						<div class="col medium-2 small-12 large-2">
							<div class="col-inner dark">
								<div class="text">
									<p class="uppercase">
										<u>
											<b>BƯỚC 9</b>
										</u>
										<b> >></b>
									</p>
									<p>Kiểm lỗi và chỉnh sửa hoàn thiện</p>
								</div>
							</div>
						</div>
						<div class="col medium-2 small-12 large-2">
							<div class="col-inner dark">
								<div class="text">
									<p class="uppercase">
										<u>
											<b>BƯỚC 10</b>
										</u>
										<b> >></b>
									</p>
									<p>Bàn giao và nghiệm thu</p>
								</div>
							</div>
						</div>
						<div class="col medium-2 small-12 large-2">
							<div class="col-inner dark">
								<div class="text">
									<p class="uppercase">
										<u>
											<b>BƯỚC 11</b>
										</u>
										<b> >></b>
									</p>
									<p>Hướng dẫn quản trị website</p>
								</div>
							</div>
						</div>
						<div class="col medium-2 small-12 large-2">
							<div class="col-inner dark">
								<div class="text">
									<p class="uppercase">
										<u>
											<b>BƯỚC 12</b>
										</u>
										<b> >></b>
									</p>
									<p>Bảo hành, bảo trì và hỗ trợ trọn đời</p>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</section>
		<section class="testimonials">
			<div class="inner">
				<h1>Đánh giá của khách hàng</h1>
				<div class="border"></div>
				<div class="row">
					<div class="col">
						<div class="testimonial">
							<img src="https://cdn-icons-png.flaticon.com/512/219/219969.png" alt="">
							<div class="name">Bùi Công Thiện</div>
							<div class="detail-position">Chủ tiệm tạp hóa</div>
							<div class="stars">
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="far fa-star"></i>
							</div>
							<p>Dịch vụ thiết kế website của StoreManagement thực sự vượt xa mong đợi của tôi. Giao diện rất chuyên nghiệp và dễ sử dụng, từ quản lý sản phẩm đến theo dõi đơn hàng. Khách hàng của tôi cũng hài lòng vì giao diện thân thiện với người dùng, giúp họ dễ dàng mua sắm. Đội ngũ hỗ trợ rất tận tâm, luôn sẵn sàng giải quyết các vấn đề nhanh chóng</p>
						</div>
					</div>
					<div class="col">
						<div class="testimonial">
							<img src="https://uxwing.com/wp-content/themes/uxwing/download/peoples-avatars/corporate-user-icon.png" alt="">
							<div class="name">Nguyễn Minh Nhật</div>
							<div class="detail-position">Chủ quán đồ ăn nhanh</div>
							<div class="stars">
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
							</div>
							<p>Website do StoreManagement thiết kế giúp tôi tiết kiệm rất nhiều thời gian trong việc quản lý cửa hàng. Tôi có thể dễ dàng cập nhật sản phẩm mới, kiểm soát kho hàng và theo dõi doanh thu hàng ngày chỉ với vài thao tác đơn giản. Đặc biệt, dịch vụ bảo hành và hỗ trợ trọn đời rất đáng tin cậy.</p>
						</div>
					</div>
					<div class="col">
						<div class="testimonial">
							<img src="https://cdn-icons-png.freepik.com/512/219/219986.png" alt="">
							<div class="name">Huỳnh Anh Tuấn</div>
							<div class="detail-position">Chủ cửa hàng Doki</div>
							<div class="stars">
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="far fa-star"></i>
							</div>
							<p>Tôi rất ấn tượng với chất lượng và tốc độ thiết kế website của StoreManagement. Quy trình làm việc rõ ràng, minh bạch và đội ngũ kỹ thuật rất chuyên nghiệp. Website chạy mượt mà trên cả máy tính và điện thoại, giúp khách hàng có trải nghiệm mua sắm tốt hơn. Đây thực sự là một khoản đầu tư hiệu quả cho việc kinh doanh của tôi.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section-freetrial">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-8 col-12 freetrial-content">
						<div class="sitebox-heading">
							<div class="freetrial-title cl-white">14 ngày dùng thử miễn phí StoreManagement</div>
							<p class="subhead-freetrial cl-white">Trải nghiệm phần mềm quản lý bán hàng tốt nhất được hơn 10,000+ khách hàng tin dùng.</p>
						</div>
					</div>
					<div class="col-lg-4 col-12 text-center">
						<div class="sitebox-actions">
							<a href="/auth/register"class="btn-trial btn-trial--white btn-hover-vertical hrv-btnv2-register">
								Dùng thử miễn phí
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section-questions">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-12">
						<div class="sitebox-heading">
							<h2>
								<span class="d-lg-block">Giải đáp mọi thắc mắc</span>
								về phần mềm quản lý cửa hàng 
							</h2>
						</div>
					</div>
					<div class="col-lg-8 col-12">
						<div class="accordion-questions row">
							<div class="col-12">
								<div class="questions-item accordion-questions-1" *ngFor="let question of questions; let i = index" [class.is-active]="activeIndex === i">
								  <div class="questions-item__title" (click)="toggleAccordion(i)">
									<h3 itemprop="name">{{ question.title }}</h3>
									<span class="fa-solid fa-angle-down"></span>
								  </div>
								  <div class="questions-item__content">
									<p itemprop="text">
									  {{ question.content }}
									</p>
								  </div>
								</div>
							  </div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
<app-footer></app-footer>
