.content {
	flex-grow: 1;
	padding: 20px;

	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 20px;
	}

	.main-content {
		.row {
			.card {
				padding: 20px;
				margin: 10px 0;
				background-color: #f8f9fa;
				border: 1px solid #ddd;
				border-radius: 5px;

				.card-title {
					font-size: 1.2rem;
					color: #007bff;
				}

				.card-text {
					font-size: 1rem;
					color: #6c757d;
				}
			}
		}
	}
}
