@import "../../../../../shared/variable.scss";

.modal-footer {
    button:nth-child(1) {
        background-color: $owner-primary;
        color: white;
    }
    
}
.modal-header[_ngcontent-ng-c3190442245] {
    background-color: $owner-primary;
    
}
.management--table[_ngcontent-ng-c2634918597] .table-actions[_ngcontent-ng-c2634918597] .btn-management-edit[_ngcontent-ng-c2634918597] {
    background-color: $owner-primary;
    color: white;
    height: 25px;
}
