<div class="management--wrapper">
	<h4 class="fw-bold">Quản lý món ăn</h4>

	<div class="management--header">
		<div class="management--search">
			<input
				aria-label="Search User"
				type="text"
				class="form-control"
				[(ngModel)]="searchTerm"
				(ngModelChange)="onSearchTerm()" />
		</div>
		<div class="management--action">
			<button
				matTooltip="Lọc"
				aria-label="Filter"
				class="btn btn-sm btn-action-filter"
				[matMenuTriggerFor]="menu">
				<i class="fa fa-filter" aria-hidden="true"></i>
			</button>
        	<mat-menu #menu="matMenu">
            	<button mat-menu-item (click)="changeFilter(1)">
                	<span class="filter-label-radio">Bún</span>
            	</button>
            	<button mat-menu-item (click)="changeFilter(2)">
                	<span class="filter-label-radio">Nước</span>
            	</button>
            	<button mat-menu-item (click)="changeFilter(3)">
                	<span class="filter-label-radio">Lẩu</span>
           		</button>
            	<button mat-menu-item (click)="changeFilter(4)">
                	<span class="filter-label-radio">Gỏi</span>
            	</button>
            	<button mat-menu-item (click)="changeFilter(5)">
                	<span class="filter-label-radio">Trà</span>
           		</button>
            	<button mat-menu-item (click)="changeFilter(0)">
                	<span class="filter-label-radio">Tất cả</span>
            	</button>
        	</mat-menu>
		</div>
	</div>
	<div class="management--main">
		<div class="management--table">
			<table class="table">
				<thead>
					<tr>
						<th
							*ngFor="let columns of config.displayedColumns"
							scope="col">
							{{ columns.display }}
						</th>
					</tr>
				</thead>
				<tbody *ngIf="listFood != undefined">
					<tr *ngFor="let item of listFood; index as index">
						<th max-width="100px">{{ index + 1 }}</th>
						<td>
							<img
								[src]="item.imageUrl"
								alt="{{ item.name }}"
								loading="lazy" />
						</td>
						<td>{{ item.name }}</td>
						<td>{{ item.price | price }}</td>
					</tr>
				</tbody>
				<tbody *ngIf="listFood == undefined">
					<h3 class="text-center">Chưa có dữ liệu</h3>
				</tbody>
			</table>
			<div class="table--pagination">
				<table-pagination
					[_hasNext]="pagi.hasNextPage"
					[_hasPrev]="pagi.hasPrevPage"
					[_currentPage]="pagi.currentPage"
					[_totalPage]="pagi.totalPage"
					(changePage)="onChangePage($event)"></table-pagination>
			</div>
		</div>
		<app-spinner></app-spinner>
	</div>
</div>
