<div class="not-found-container">
    <img id="logo" src="https://cms1.com.my/store/images/logo/store-mgmt-logo.png" alt="Logo">
    <div id="error" class="errorView">
        <div id="errorMessage">
            <h1>Không tìm thấy (401)</h1>
            <p class="message">Rất tiếc, trang của bạn đang tìm kiếm không tồn tại.</p>
            <p class="message">
                <b>Vui lòng truy cập </b>
                <a href="/" target="_blank">Trung tâm trợ giúp</a> của chúng tôi để biết thêm thông tin.
            </p>
            <p>
                <a href="/page" class="back-link">Quay lại trang chủ</a>
            </p>
        </div>
    </div>
</div>

