.not-found-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Căn giữa dọc theo chiều cao của viewport */
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #e0fff2;
}

#logo {
    width: 150px;
    margin-bottom: 20px;
}

.errorView {
    color: #333;
}

#errorMessage h1 {
    font-size: 2rem;
    color: #d9534f; /* Màu đỏ để nhấn mạnh lỗi */
}

.message {
    color: #666;
    margin: 10px 0;
}

.message a{
    color: #3a70e5;
    text-decoration: underline;
}

.back-link {
    color: #3a70e5;
    text-decoration: underline;
    font-weight: bold;
}

