<div class="modal fade show" tabindex="5">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Tạo mới món ăn</h5>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					(click)="onNoClick()"
					aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form [formGroup]="validateForm" (ngSubmit)="onSubmit()">
					<input
						hidden
						aria-label="id"
						nz-input
						class="form-control"
						formControlName="id"
						id="id" />

					<nz-form-item>
						<nz-form-label
							[nzSm]="8"
							[nzXs]="24"
							nzRequired
							nzFor="name"
							>Name</nz-form-label
						>
						<nz-form-control
							[nzSm]="14"
							[nzXs]="24"
							nzErrorTip="This input is not have enough length!">
							<input
								aria-label="name"
								nz-input
								class="form-control"
								formControlName="name"
								id="name" />
						</nz-form-control>
					</nz-form-item>
					<nz-form-item>
						<nz-form-label 
							[nzSm]="8" 
							[nzXs]="24" 
							nzRequired nzFor="price"
							>Giá tiền</nz-form-label
						>
						<nz-form-control
							[nzSm]="14" 
							[nzXs]="24" 
							nzErrorTip="This input is not have enough length!">
							<input
								aria-label="price" 
								nz-input class="form-control" 
								formControlName="price" 
								id="price" />
						</nz-form-control>
					</nz-form-item>
					<nz-form-item>
						<nz-form-label
						 	[nzSm]="8"
							[nzXs]="24" 
							nzRequired 
							nzFor="quantity"
							>Số lượng</nz-form-label
						>
						<nz-form-control
							[nzSm]="14" 
							[nzXs]="24" 
							nzErrorTip="This input is not have enough length!">
							<input
								aria-label="quantity" 
								nz-input class="form-control" 
								formControlName="quantity" 
								id="quantity" />
						</nz-form-control>
					</nz-form-item>
					<nz-form-item>
						<nz-form-label [nzSm]="8" [nzXs]="24" nzFor="status" nzRequired>Status</nz-form-label>
						<nz-form-control [nzSm]="14" [nzXs]="24">
							<select class="form-select" formControlName="status" aria-label="Select Status">
								<option [value]="true">True</option>
								<option [value]="false">False</option>
							</select>
						</nz-form-control>
					</nz-form-item>

					<nz-form-item>
						<nz-form-label 
							[nzSm]="8" 
							[nzXs]="24" 
							nzFor="categories" 
							nzRequired
							>Category
						</nz-form-label>
						<nz-form-control 
							[nzSm]="14" 
							[nzXs]="24">
							<select class="form-select" 
								formControlName="idCategory" 
								aria-label="Select Category">
								<option *ngFor="let category of listCategory" 
										[value]="category.id">
											{{ category.name }}
								</option>
							</select>
						</nz-form-control>
					</nz-form-item>
					<nz-form-item>
						<nz-form-label [nzSm]="8" [nzXs]="24" nzFor="fileUpload" nzRequired>
							Upload Image
						</nz-form-label>
						<nz-form-control [nzSm]="14" [nzXs]="24">
							<input type="file" id="fileUpload" (change)="onFileSelected($event)" aria-label="Upload Image"
								class="form-control" />
						</nz-form-control>
					</nz-form-item>

				</form>
			</div>
			<div class="modal-footer">
				<button
					type="button"
					class="btn-primary-custom"
					mat-stroked-button
					(click)="onSubmit()">
					Tạo mới
				</button>
				<button
					type="button"
					mat-stroked-button
					data-bs-dismiss="modal"
					(click)="onNoClick()">
					Hủy
				</button>
			</div>
		</div>
	</div>
</div>
