@import "../../../../../shared/variable.scss";

.modal-header[_ngcontent-ng-c4175630527] {
    background-color:$owner-primary;
}
.btn-primary-custom[_ngcontent-ng-c4175630527] {
    background-color: $owner-primary !important;
    color: white !important;
}
