@import "../../../../shared/variable.scss";
@import "../../../../shared/layout.scss";
.invoice--info {
	padding: 8px 0;
	border-top: 1px solid #cecece;
	display: flex;
	flex-direction: column;
	gap: 12px;

	@media (max-width: $mobile-breakpoint) {
		font-size: 12px;
	}
	.info-detail {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.info-price {
		font-weight: 450;
	}

	.info-total {
		border-top: 1px solid #cecece;
		padding-top: 8px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		&-price {
			font-weight: 450;
		}
	}
}
