@import "../../../../shared/variable.scss";

.management--search {
    display: flex; 
    align-items: center; 

    .btn-search {
        background-color: $owner-primary; 
        color: #fff; 
        border: none; 
        padding: 8px 12px; 
        border-radius: 4px;
        cursor: pointer; 
        transition: background-color 0.3s; 

        &:hover {
            background-color: darken($owner-primary, 10%); 
        }
    }

    input {
        flex: 1; 
        margin-left: 8px; 
        padding: 8px; 
        border: 1px solid #ccc; 
        border-radius: 4px; 
        transition: border-color 0.3s; 
        
        &:focus {
            border-color: $owner-primary; 
            outline: none; 
        }
    }
}
.management--table {
    thead {
        th {
            background-color: $owner-primary;
            color: #ececec;
        }
    }
}